# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*py~

# python
.ipynb_checkpoints/

# emacs
\#*\#
.\#*
*.html~
*.css~

# data
*.json
*.npy
*.jpg
*.png
*.JPG
*.PNG
*.JPEG
*.zip

# unused website assets
static/assets/*
static/styles/*css

# API KEYS
*.info

# logs, records
*.log
test.ipynb
